.warp {
  text-align: center;
  margin: 0 10%;
}

.top {
  /* margin: 0 10%; */
  /* width:80%; */
}

.topimg {
  padding: 50px;
}

.topnav {
  text-align:center;
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color:#aaa;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
ul li {
  display:inline-block;
  /* float: left; */
}

/*845 이하로 내려가면 바뀌게 설정하기*/
ul li a {
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-left: 50px;
  text-decoration: none;
  font-weight: bold;
}

ul li a:hover {
  background-color:#111;
}
/* .topnav {
  text-align: center;
  width:100px;
  height:50px;
  background-color: orange;
}

.topnav ul {
  list-style-type : none;
  width:500px;
  margin-left: auto;
  margin-right: auto;
}

.topnav li {
  float: left;

}

li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
} */
